* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none !important;
    font-weight: 500 !important;
}

/* Navbar */

nav {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.logo {
    padding-top: 12px !important;
}

.nav-link {
    color: darkslategrey !important;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

.active {
    color: goldenrod !important;
}

main {
    /* padding: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/Screenshot\ 2023-10-25\ 072828.png);
}

form {
    padding: 20px;
    min-width: 330px;
    min-height: 330px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-logo {
    width: 150px;
}

form .hr {
    width: 100%;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    opacity: 1;
}

form h2 {
    color: goldenrod;
}

.form-floating {
    margin-bottom: 10px;
    width: 100%;
}

.btn-success {
    background-color: rgb(31, 172, 31);
}